.container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.counter {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
  border: 2px solid rgb(93, 93, 93);
  padding-bottom: 30px;
}

.counter h1 {
  color: rgb(93, 93, 93);
  font-size: 25px;
}

.counter__output {
  font-size: 40px;
  color: rgb(93, 93, 93);
}

.btn__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 40px;
}

.control__btn {
  width: 50px;
  height: 50px;
  font-size: 40px;
  background-color: transparent;
  color: rgb(93, 93, 93);
  border: 1px solid rgb(93, 93, 93);
  cursor: pointer;
}
